<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" charset="utf-8" content="text/html" />
	<title>SitePage</title>
    <link rel="stylesheet" href="css/style_page.css" type="text/css" media="all" />
  </head>
  <body>
    <div class="site">
      <div class="cap"></div>
	  <div class="sitebar"></div>
	  <div class="main">
      
4. Разработайте PHP приложение, которое отображает основные элементы 
#15 каркаса страницы (шапка, подвал, сайдбар, основной блок контента)
    в виде прямоугольников разного цвета. 
    В данном задании надо использовать блочную верстку.
    Подвал дожен быть прижат к низу страницы. Это означает, что если
    содержимого в основном блоке меньше, чем высота страницы в браузере,
    то подвал все равно располагается у нижней границы окна браузера.
      </div>
	  <div class="cellar"></div>
    </div>
  </body>
</html>